<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="dc-artisan.ZPM">
    <Module>
      <Name>dc-artisan</Name>
      <Version>0.0.3</Version>
      <Description>Prompt enhancement and RAG pipeline tools for developers</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.artisan.PKG"/>
    </Module>
  </Document>
</Export>
