<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="dc-artisan.ZPM">
    <Module>
      <Name>dc-artisan</Name>
      <Version>0.0.9</Version>
      <Description>Prompt enhancement and RAG pipeline tools for developers</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.artisan.PKG"/>
      <WebApplication 
        Name="/artisan/api" 
        NameSpace="{$namespace}"
        Path="/src"
        Recurse="1"
        Directory="{$cspdir}/csp/artisan/api" 
        MatchRoles=":%All"
        AutheEnabled="#{$$$AutheCache + $$$AutheUnauthenticated}"
        DispatchClass="dc.artisan.Rest" 
        ServeFiles="1"
        CookiePath="/csp/artisan/api"
        UseCookies="2"
      />
    </Module>
  </Document>
</Export>
